<div id="container" class="container_services">
	<div style="float:left; width:204px;">
          <div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Arvind Shirts </span><br />&nbsp;&nbsp;&nbsp;&nbsp;Mahalakshmi, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Country Vacations</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Andheri, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Gigo Gift & Stationery Pvt. Ltd.</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Andheri, Mumbai</div>
                <div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Oracle Biotech Pvt. Ltd.</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Andheri, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Lawrence Rediators</span><br /> &nbsp;&nbsp;&nbsp;&nbsp;Jogeshwari, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Nirmitee Art Connoisseur</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Dadar, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Rotomac Pens Pvt. Ltd.</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Kanpur, UP</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Cello Writing Inst. & Cont. P. L.</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Goregaon, Mumbai</div>
	</div>
	<div style="float:left; width:204px;">		
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Sumix Club & Resort Pvt. Ltd.</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Bandra, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Srishti Herbals</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Dadar, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Sunwood Electricals</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Goregaon, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;First Flight Couriers Ltd.</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Andheri, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Touchline Lingeri</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Dadar, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Aryaa Property Management</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Goregaon, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Reflect Pens</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Goregaon, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Darshak Films Pvt. Ltd.</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Dadar, Mumbai</div>
	</div>
	<div style="float:right; width:204px;">		
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Ved Enterprices</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Dadar, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Services Pvt. Ltd.</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Andheri, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Xenelmenz</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Mahalakshmi, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Vegan Restaurant</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Andheri, Mumbai</div>
		<div id="client_div"><span class="services"><span id="dot">.</span>&nbsp;&nbsp;Spring Nectar Enterprises</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Kandivali, Mumbai</div>
	</div>
</div>
