<!--<div id="content-left">
	<%#= image_tag "top-index.png" %>
	<%#= image_tag "middle-index.png" %>	
</div>-->
<!--<div id="content-right">
	<div id="logo"><%#= image_tag "canyon.png" %>
		<div id="splash"><%#= image_tag "splash.png" %></div>
	</div>-->
  <div id="bottom">
    <%= image_tag "dashboard-bottom.jpg" %>
  </div>

<%#= image_tag "bottom-index.png" , :class => "bottom_image" %>

