<div id="container" class="container_services">
	<div style="float:left; width:204px;">
		<span class="services"> <span> . </span> Creative Development </span><br />
		&nbsp;&nbsp; Corporate Identities <br />
                &nbsp;&nbsp; Brand Building <br />
		&nbsp;&nbsp; Product & Packaging design <br />
		&nbsp;&nbsp; Catalogue & Leaflet design <br 
		&nbsp;&nbsp; Adcertising campaign
		<br />
		<br />
		<br />
		<span class="services"> <span> . </span>Strategic Planning </span><br />
		&nbsp;&nbsp; Creative Process & Analysis <br />
		&nbsp;&nbsp; Executional Integration <br />
		&nbsp;&nbsp; Marketing Planning <br />		
		&nbsp;&nbsp; Marketing Consulting 
		<br />
		<br />
		<br />
		<span class="services"> <span> . </span>Media Buying </span><br />
		&nbsp;&nbsp; Television <br />
		&nbsp;&nbsp; Radio <br />
		&nbsp;&nbsp; Cable <br />
		&nbsp;&nbsp; Newspaper and Publication <br />
		&nbsp;&nbsp; Internet <br />
		&nbsp;&nbsp; Outdoor/Billboards <br />
		&nbsp;&nbsp; Mixed Media 
	</div>
	<div style="float:left; width:204px;">
		<span class="services"> <span> . </span>Graphic Design </span><br />
		&nbsp;&nbsp; Multimedia Services <br />
		&nbsp;&nbsp; Mixed Media Services 		
		<br />
		<br />
		<span class="services"> <span> . </span>Signage </span><br />
		&nbsp;&nbsp; Environmental Signage <br />
		&nbsp;&nbsp; Outdoor Billboard <br />
		&nbsp;&nbsp; Banners <br />
		&nbsp;&nbsp; Posters <br />
		&nbsp;&nbsp; Exterior/Interior
                <br />
		<br />
		<span class="services"> <span> . </span>Direct Marketing </span><br />
		&nbsp;&nbsp; Direct Mail <br />
		&nbsp;&nbsp; Direct Response Advertising <br />
		&nbsp;&nbsp; Sales Collateral
		<br />
		<br />
		<br />
		<span class="services"> <span> . </span>Advertising & Production </span><br />
		&nbsp;&nbsp; TV <br />
		&nbsp;&nbsp; Radio <br />
		&nbsp;&nbsp; Print <br />
		&nbsp;&nbsp; Internet / Mailer
	</div>
	<div style="float:right; width:204px;">
		<span class="services"> <span> . </span>Online Marketing </span><br />
		&nbsp;&nbsp; Website Design & Programming <br />
		&nbsp;&nbsp; Online Content Development <br />
		&nbsp;&nbsp; Internet Advertising <br />
		&nbsp;&nbsp; Flash Animation <br />
		&nbsp;&nbsp; Website Hosting
		<br />
		<br />
		<span class="services"> <span> . </span>Event Planning </span><br />
		&nbsp;&nbsp; Product/Brand Launches <br />		
		&nbsp;&nbsp; Trade shows / Exhibits / Displays
		<br />
		<br />
		<br />
		<span class="services"> <span> . </span>Printing & Related Services </span><br />
		&nbsp;&nbsp; Screen Printing <br />
		&nbsp;&nbsp; Offset Printing <br />
		&nbsp;&nbsp; Digital Printing 
	</div>
</div>
