<div id="contact_nav_jobs">
  <ul>
          <li><%= link_to "<span> &gt; </span>Copywriter", apply_now_path %><%#= link_to_unless_current("> Freelance Copywriters", logo_portfolio_path ){link_to("Logo .",logo_portfolio_path ,:class => "current")}%></li>
          <li><%= link_to "<span> &gt; </span>Web Designer", apply_now_path %><%#= link_to_unless_current("> Web and Graphic Designers", print_design_portfolio_path ){link_to("Print Design .",print_design_portfolio_path ,:class => "current")}%></li>
          <li><%= link_to "<span> &gt; </span>Graphic Designer", apply_now_path %><%#= link_to_unless_current("> Business Dev. Exe.", web_design_portfolio_path ){link_to("Web Design .",web_design_portfolio_path ,:class => "current")}%></li>
          <li><%= link_to "<span> &gt; </span>Client Executive", apply_now_path %><%#= link_to_unless_current("> Client Executives", packaging_portfolio_path ){link_to("Packaging .",packaging_portfolio_path ,:class => "current")}%></li>
  </ul>
</div>


